/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.navbar-brand svg {
	filter: invert(90%)
}

.main-container {
  min-height:400px;
}

.product-pagination {
  margin: 20px;
}
h2{
  color: antiquewhite;
}